.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
Archived files/
Calc LUC_EnergyAg/
Energy and GHG Analysis (2019)/
Energy-Ag/
Manuscript input and old drafts/
LandDemand/
MAPSPAM/
FAOSTAT/
Internal notes.md
.html
.qgz
manuscript/
code/old_code/
results/
key literature and references/
Energy-Ag (old?)/
code/calculate_calories_per_ha_cropland.nb.html
code/QGIS/calculate_mill.qgz
calculate_calories_per_ha_cropland.nb.html

#raw data
raw_data/qgis/
raw_data/FOFA2050CountryData_Crop-production.csv
raw_data/fao_fertilizer_pesticide_emission_intensity.xlsx

#intermediate data - created by code
int_data/countries_excluded_in_africa_in_fofa.csv
int_data/countries_excluded_in_africa.csv
int_data/countries_included_in_africa_in_fofa.csv
int_data/country_and_crop_scenarios_filtered.csv
int_data/fofa_kcal_excluded_from_mapspam_searchinger.csv
int_data/qgis_output


#intermediate data to keep. Commented out so it is not ignored
#int_data/scenarios.csv
#int_data/countries_included_in_africa.csv
#int_data/rebound_luc_by_region.csv
#int_data/input_data_cleaned_converted_aggregated.csv
#int_data/input_data_cleaned_converted.csv
#int_data/luc_co2_country_crop.csv
#int_data/luc_co2_country.csv
#int_data/LUC_CO2_crops.csv
#int_data/luc_co2_region.csv
#int_data/prod.cropland.csv